.todoFormWindow {
  background-color: var(--primary-background-color-dark-3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--even-box-shadow);
  margin: 1rem 0.3rem;

  &__inputs {
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
