.headerDropdown {
  position: absolute;
  background-color: var(--primary-background-color-2);
  border-radius: 0.8rem;
  width: 25rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  right: 2rem;
  top: 7rem;
  box-shadow: var(--normal-box-shadow-plus);
  z-index: 1000;

  & hr {
    height: 1px;
    background-color: var(--primary-light-gray-color) !important;
  }

  &__top {
    width: 100%;
    min-height: 7rem;
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &--text {
      max-width: 80%;
      word-wrap: break-word;
      margin-left: 1rem;
      p {
        margin-bottom: 0;
        font-size: 1.5rem;
        color: var(--primary-text-color);
        line-height: 1.7rem;
        font-weight: 800;
        font-family: var(--primary-font) !important;
      }

      span {
        font-size: 0.9rem;
        color: var(--secondary-action-color);
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &__center {
    max-height: 20rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &--item {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      cursor: pointer;
      transition: var(--primary-transition);
      margin-left: 1rem;
      margin-right: 1rem;
      border-radius: 0.7rem;

      &:hover {
        background-color: var(--primary-background-color-3) !important;
      }

      &-mode[data-profile-mode="true"] {
        svg {
          fill: #ffb62e;
        }
      }
      &-mode[data-profile-mode="false"] {
        svg {
          fill: #444444;
        }
      }

      &-left {
        display: flex;
        align-items: center;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }

      &-right {
        margin-left: 2rem;
        p {
          margin-bottom: 0;
          font-size: 1.3rem;
          color: var(--primary-text-color);
          line-height: 1.3rem;
          font-weight: 500;
          font-family: var(--primary-font) !important;

          span {
            color: var(--primary-text-color);
            font-weight: 600;
            margin-right: 3px;
          }
        }

        span {
          font-size: 1.2rem;
          color: var(--primary-light-gray-color) !important;
        }
      }
    }
  }

  &__bottom {
    padding: 1rem;
    padding-bottom: 0;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary-theme-color);
      width: 100%;
      padding: 1rem;
      border-radius: 0.7rem;
      transition: var(--primary-transition);

      &:hover {
        background-color: var(--secondary-theme-hover-color);
      }

      p {
        color: var(--primary-black-color);
      }

      svg {
        margin-right: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--primary-black-color);
      }
    }
  }
}
