.primaryInput {
  display: flex;
  align-items: center;
  border: var(--input-border-1);
  border-radius: 0.8rem;
  height: 6rem;
  margin-top: 1.6rem;
  width: 100%;
  transition: var(--primary-transition);
  background-color: var(--input-background-color);
  &:hover {
    border: var(--input-border-2);
  }

  &:focus-within {
    -webkit-box-shadow: 0px 0px 15px -3px rgba(72, 95, 199, 0.25);
    box-shadow: 0px 0px 15px -3px rgba(72, 95, 199, 0.25);
    transition: var(--primary-transition);

    @media only screen and (max-width: 850px) {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    svg {
      fill: var(--primary-theme-color);
    }
  }

  &__left {
    margin-left: 2rem;
    margin-right: 2rem;
    svg {
      height: 2.5rem;
      width: 3rem;
      transition: var(--primary-transition);
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-flow: column-reverse wrap;

    label {
      margin-bottom: 0rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: var(--primary-text-color);
      font-family: var(--primary-font) !important;
    }

    input,
    input:active,
    input:focus {
      outline: none;
      background-color: transparent;
      color: var(--primary-text-color);
    }

    input:invalid[data-focused="true"] ~ label {
      color: var(--danger-action-color) !important;
      font-family: var(--primary-font) !important;
    }

    input {
      width: 90%;
    }
  }
}

.primaryInput-validation-text {
  margin-bottom: 0rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-light-gray-color);
  height: 1rem;
}
